*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(6, 206, 180);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); 
    /* color: red;  */
    background-color: rgba(236, 203, 40, 0.795);
    font-size: 9vmin; 
}
#re-btn{
   padding: 1rem;
   background-color: black;
   color: white;
   border: none;
   border-radius: 1rem;
}
.n-game{
    padding: 1rem;
   background-color: black;
   color: white;
   border: none;
   border-radius: 1rem;
}
.hide{
    display: none;
}
#msg{
    color: rgba(87, 74, 10, 0.795);
    font-size: 5vmin;
    font-weight: 900;
    margin-top: 40vmin;
    margin-bottom: 1rem;
}
.msg-container{
    height: 100vmin;

}